.hex {
  width: 78px;
  height: 90px;

  min-width: 78px;
  min-height: 90px;

  max-width: 78px;
  max-height: 90px;

  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #e6d5d1;
  border: 2px solid rgba(224, 57, 57, 0.8);

  transition: all .35s ease;
  cursor: pointer;
}

.hex svg {
  font-size: 24px;
  color: #111827;
  margin-bottom: 6px;
  transition: .35s;
}

.hex p,
.hex-title {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  width: 90%;
  line-height: 1.2;
  margin: 0;
  color: #111827;
}

.hex:hover {
  transform: translateY(-8px) scale(1.05);
  border-color: #f97316;
  box-shadow:
    0 0 18px rgba(249,115,22,.45),
    0 0 35px rgba(249,115,22,.18);
}

.hex:hover svg,
.hex:hover p,
.hex:hover .hex-title{
  color:#db2606;
}

/* CENTER */

.center-hex{
  width:92px;
  height:106px;

  min-width:92px;
  min-height:106px;

  max-width:92px;
  max-height:106px;

  background:#ef4444;
  border:2px solid #f97316;

  box-shadow:
    0 0 25px rgba(249,115,22,.35),
    0 0 50px rgba(249,115,22,.18);
}

.center-hex h3{
  font-size:17px;
  font-weight:900;
  color:white;
  margin:4px 0;
}

.center-hex p{
  font-size:10px;
  color:#ffe4d6;
}

.center-hex div{
  font-size:28px;
}

/* Tablet */

@media (max-width:1024px){

.hex{
width:68px;
height:78px;
}

.center-hex{
width:82px;
height:94px;
}

.hex svg{
font-size:20px;
}

.hex p,
.hex-title{
font-size:10px;
}

.center-hex h3{
font-size:15px;
}

}

/* Mobile */

@media (max-width:768px){

.hex{
width:56px;
height:64px;
}

.center-hex{
width:68px;
height:78px;
}

.hex svg{
font-size:16px;
margin-bottom:3px;
}

.hex p,
.hex-title{
font-size:8px;
}

.center-hex h3{
font-size:12px;
}

.center-hex p{
font-size:8px;
}

.center-hex div{
font-size:18px;
}

}