/* .hex{

width:130px;
height:145px;

clip-path:polygon(
25% 6.7%,
75% 6.7%,
100% 50%,
75% 93.3%,
25% 93.3%,
0% 50%
);

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

transition:.4s;

cursor:pointer;

}

.hex:hover{

border-color:#f97316;

box-shadow:
0 0 20px #f97316,
0 0 60px rgba(249,115,22,.3);

} */
.hex {
  width: 170px;
  height: 190px;

  min-width: 170px;
  min-height: 190px;
  max-width: 170px;
  max-height: 190px;

  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #e6d5d1;
  border: 9px solid rgba(224, 57, 57, 0.8);

  transition: .35s;
  cursor: pointer;
}

.hex svg {
  font-size: 42px;
  color: #111827;
  transition: all 0.35s ease;
}

.hex p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 80%;
  line-height: 1.2;
  margin: 0;
}

.hex:hover {
  transform: translateY(-12px) scale(1.06);
  border-color: #f97316;
  box-shadow:
    0 0 25px rgba(249, 115, 22, 0.5),
    0 0 70px rgba(250, 235, 226, 0.25),
    0 18px 40px rgba(0, 0, 0, 0.15);
}

.hex:hover svg,
.hex:hover p {
  color: #db2606;
}

.center-hex {
  width: 210px;
  height: 235px;

  background: rgb(244, 52, 38);
  color: #111827;

  border: 3px solid #f97316;

  box-shadow:
    0 0 35px rgba(249, 115, 22, 0.45),
    0 0 90px rgba(249, 115, 22, 0.25);
}

.center-hex h3 {
  color: #111827;
  font-size: 28px;
  font-weight: 900;
}

.center-hex p {
  color: #6b7280;
  font-size: 15px;
}